# Project and tooling files
.*
.*/
tsconfig.*
eslint.*
jest.*
package.json
package-lock.json
*.md
CNAME
scripts/

# Documentation
docs/

# Uncompiled source code
runner/
common/
src/
test/
out/
node_modules
## Except the bundle and assets
!out/main.js
!src/assets

# Packaged distributions
dist/

# All webview-ui files except build
webview-ui/
!webview-ui/build/assets/index.js

# Test coverage
coverage

# Mac files
**/.DS_Store
