# Project files
.vscode/
.vscode-test/
.github/
.gitignore
.gitattributes
.yarnrc
.eslintrc.json
.prettierrc.json
.editorconfig
.vscodeignore
tsconfig.json
tsconfig.app.json
package.json
package-lock.json
*.md
CNAME

# Documentation
docs/

# Uncompiled source code
src/
out/
node_modules
## Except the bundle and assets
!out/main.js
!src/assets

# Packaged distributions
dist/

# All webview-ui files except build
webview-ui/src/**
webview-ui/public/**
webview-ui/scripts/**
webview-ui/index.html
webview-ui/README.md
webview-ui/package.json
webview-ui/package-lock.json
webview-ui/node_modules/**
