# Project files
.vscode/
.vscode-test/
.github/
.gitignore
.gitattributes
.yarnrc
.eslintrc.json
.prettierrc.json
.editorconfig
.vscodeignore
tsconfig.src.json
tsconfig.test.json
package.json
package-lock.json
*.md
CNAME

# Documentation
docs/

# Uncompiled source code
src/
test/
out/
node_modules
## Except the bundle and assets
!out/main.js
!src/assets

# Packaged distributions
dist/

# All webview-ui files except build
webview-ui/
!webview-ui/build/static/js/main.js
